@plugin "daisyui/theme" {
  name: "cmyk";
  default: false;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(14.3544% 0.02666 239.443325);
  --color-primary-content: oklch(14.3544% 0.02666 239.443325);
  --color-secondary: oklch(12.8953% 0.040552 359.339283);
  --color-secondary-content: oklch(12.8953% 0.040552 359.339283);
  --color-accent: oklch(18.8458% 0.037948 105.306968);
  --color-accent-content: oklch(18.8458% 0.037948 105.306968);
  --color-neutral: oklch(84.3557% 0 0);
  --color-neutral-content: oklch(84.3557% 0 0);
  --color-info: oklch(13.6952% 0.0189 217.284104);
  --color-info-content: oklch(13.6952% 0.0189 217.284104);
  --color-success: oklch(89.3898% 0.032505 321.406278);
  --color-success-content: oklch(89.3898% 0.032505 321.406278);
  --color-warning: oklch(14.2473% 0.031969 52.023412);
  --color-warning-content: oklch(14.2473% 0.031969 52.023412);
  --color-error: oklch(12.4027% 0.041677 28.717543);
  --color-error-content: oklch(12.4027% 0.041677 28.717543);
  --radius-box: 1rem;
  --radius-field: 0.25rem;
  --radius-selector: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
