@plugin "daisyui/theme" {
  name: "dracula";
  default: false;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(28.8229% 0.022103 277.508664);
  --color-base-200: oklch(26.8053% 0.020556 277.508664);
  --color-base-300: oklch(24.7877% 0.019009 277.508664);
  --color-base-content: oklch(97.7477% 0.007913 106.545019);
  --color-primary: oklch(15.0922% 0.036614 346.812432);
  --color-primary-content: oklch(15.0922% 0.036614 346.812432);
  --color-secondary: oklch(14.8405% 0.029709 301.883095);
  --color-secondary-content: oklch(14.8405% 0.029709 301.883095);
  --color-accent: oklch(16.6785% 0.024826 66.558491);
  --color-accent-content: oklch(16.6785% 0.024826 66.558491);
  --color-neutral: oklch(87.8891% 0.006515 275.524078);
  --color-neutral-content: oklch(87.8891% 0.006515 275.524078);
  --color-info: oklch(17.6526% 0.018676 212.846491);
  --color-info-content: oklch(17.6526% 0.018676 212.846491);
  --color-success: oklch(17.4199% 0.043903 148.024881);
  --color-success-content: oklch(17.4199% 0.043903 148.024881);
  --color-warning: oklch(19.1068% 0.026849 112.757109);
  --color-warning-content: oklch(19.1068% 0.026849 112.757109);
  --color-error: oklch(13.6441% 0.041266 24.430965);
  --color-error-content: oklch(13.6441% 0.041266 24.430965);
  --radius-box: 1rem;
  --radius-field: 0.25rem;
  --radius-selector: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --gloss: 1;
  --noise: 0;
}