@plugin "daisyui/theme" {
  name: "sunset";
  default: false;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(22% 0.019 237.69);
  --color-base-200: oklch(20% 0.019 237.69);
  --color-base-300: oklch(18% 0.019 237.69);
  --color-base-content: oklch(77.3835% 0.043586 245.096534);
  --color-primary: oklch(14.9408% 0.031656 39.94703);
  --color-primary-content: oklch(14.9408% 0.031656 39.94703);
  --color-secondary: oklch(14.5075% 0.035531 2.72034);
  --color-secondary-content: oklch(14.5075% 0.035531 2.72034);
  --color-accent: oklch(14.2589% 0.033336 299.844533);
  --color-accent-content: oklch(14.2589% 0.033336 299.844533);
  --color-neutral: oklch(26% 0.019 237.69);
  --color-neutral-content: oklch(70% 0.019 237.69);
  --color-info: oklch(17.1119% 0.017054 206.015183);
  --color-info-content: oklch(17.1119% 0.017054 206.015183);
  --color-success: oklch(17.1122% 0.017172 144.77874);
  --color-success-content: oklch(17.1122% 0.017172 144.77874);
  --color-warning: oklch(17.1139% 0.016961 74.427797);
  --color-warning-content: oklch(17.1139% 0.016961 74.427797);
  --color-error: oklch(17.1023% 0.015778 16.886379);
  --color-error-content: oklch(17.1023% 0.015778 16.886379);
  --radius-box: 1rem;
  --radius-field: 0.25rem;
  --radius-selector: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
